@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #2f2f2f;;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button{
    background: #2f2f2f;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


}


